* {
    box-sizing: border-box;

}

  
nav {
    background-color: #2B523D;
}

#carouselExampleInterval .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}

 .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}

h1 {

    color: black;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.top-header {
  color: #F0E0CA;
}

.menu-button {
    background-color: #6F1B19;
    color: white;
}

.menu-button:hover {
    background-color: #531B20;
    color: #2B523D;
}

body {

    background-color: #B7A895;;
}
.text-background{
    background-color: #CDC1AB;
}
.business {
    background-color: #F0E0CA;
}

.introduction, footer {
    background-color: #2B523D;
}

.services {
    border: #6F1B19 solid 5px;
}
.information{
    background-color: #531B20;
}
.carousel-background {
    background-color: #531B20;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #d1914b;
    box-sizing: border-box;
    --c:no-repeat radial-gradient(farthest-side, #d64123 94%,#0000);
    --b:no-repeat radial-gradient(farthest-side, #000 94%,#0000);
    background:
      var(--c) 11px 15px,
      var(--b) 6px 15px,    
      var(--c) 35px 23px,
      var(--b) 29px 15px,    
      var(--c) 11px 46px,
      var(--b) 11px 34px,    
      var(--c) 36px 0px,
      var(--b) 50px 31px,
      var(--c) 47px 43px,
      var(--b) 31px 48px,    
      #f6d353; 
    background-size: 15px 15px,6px 6px;
    animation: l4 3s infinite;
  }
  @keyframes l4 {
    0%     {-webkit-mask:conic-gradient(#0000 0     ,#000 0)}
    16.67% {-webkit-mask:conic-gradient(#0000 60deg ,#000 0)}
    33.33% {-webkit-mask:conic-gradient(#0000 120deg,#000 0)}
    50%    {-webkit-mask:conic-gradient(#0000 180deg,#000 0)}
    66.67% {-webkit-mask:conic-gradient(#0000 240deg,#000 0)}
    83.33% {-webkit-mask:conic-gradient(#0000 300deg,#000 0)}
    100%   {-webkit-mask:conic-gradient(#0000 360deg,#000 0)}
  }
